@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,700;1,300&family=Saira+Condensed:wght@100;200;500&display=swap");

$font-content: "Inria Sans", sans-serif;
$font-size: #d7d7d7;

body {
  background-color: #1e1e1e;
}
.actu-container {
  margin: 12% 10% 32% 10%;
  color: #d7d7d7;
  display: flex;
  place-content: center;
}
.imageArticle {
  border-radius: 6%;
  border: 0.2px solid #ffffff;
  width: 345px;
  height: 134px;
}
.linkArticle {
  font-family: $font-content;
  position: absolute;
  z-index: 2;
  padding-top: 3%;
  color: #d7d7d7;
  font-size: 16px;
  width: 181px;
  text-align: center;
  font-weight: bold;
}
.dateArticle {
  position: absolute;
  padding-top: 112px;
  padding-left: 80px;
  font-style: italic;
  font-size: 10px;
  letter-spacing: 0.1em;
}
