@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,700;1,300&family=Saira+Condensed:wght@100;200;500&display=swap");

$font-title: "Saira Condensed", sans-serif;
$font-content: "Inria Sans", sans-serif;
$color-Bck-div: #141d3c;
$color-Bck-btn: #4d51aa;
$color-background: #1e1e1e;
$color-shadows-dark: #101010;
$color-light: #d7d7d7;
$color-dark: #221e40;

$breakpoints: (
  mobile: 600px,
);

@mixin mobile-only {
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}

.card-main {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #d7d7d7;
    width: 92%;
    height: 256px;
    margin: 36px auto;
    background-color: #1e1e1e;
    box-shadow: 4px 7px 11px #101010;
    border-radius: 10px;
    font-family: "Inria Sans", sans-serif;
  @include mobile-only {
    width: 84%;
    height: 20%;
  }
}

.h2-card {
  font-style: normal;
  font-weight: 700;
  font-size: 41px;
  color: #4d51aa;
  text-shadow: 6px 5px 5px #101010;
  text-align: center;
  padding-bottom: 0%;
}
.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  background-color: $color-Bck-div;
}

.card-content img {
  width: 40%;
  border-radius: 10px 0px 0px 10px;
}

.infos-card {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  margin-right: auto;
  margin-left: auto;
}
.infos-card p {
  padding: 18px;
}
.date-card {
  font-family: $font-content;
  font-size: 22px;
  margin-top: 4%;
}
.card-button {
  padding: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  padding-top: 10%;
}
.button-maps-card {
  width: 100px;
  height: 50px;
  background: $color-Bck-btn;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.38);
  border-radius: 6px;
  color: #d7d7d7;
  font-family: "Inria Sans", sans-serif;
  font-size: 26px;
  font-weight: bold;
  margin: 2% 12% 2% 2%;
}
.button-go-card {
  width: 100px;
  height: 50px;
  background: #4d51aa;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.38);
  border-radius: 6px;
  color: #d7d7d7;
  font-family: "Inria Sans", sans-serif;
  font-size: 26px;
  font-weight: bold;
  margin: 2% 12% 2% 2%;
}

.button-go-card:hover {
  background: darken($color-Bck-div, 1.5%);
  border: 1px solid rgba(#000, 0.05);
  box-shadow: 1px 1px 2px rgba(#fff, 0.2);
  color: lighten($color-light, 18%);
  text-decoration: none;
  text-shadow: -1px -1px 0 darken($color-shadows-dark, 9.5%);
  transition: all 250ms linear;
}
.button-maps-card:hover {
  background: darken($color-Bck-div, 1.5%);
  border: 1px solid rgba(#000, 0.05);
  box-shadow: 1px 1px 2px rgba(#fff, 0.2);
  color: lighten($color-light, 18%);
  text-decoration: none;
  text-shadow: -1px -1px 0 darken($color-shadows-dark, 9.5%);
  transition: all 250ms linear;
}
