$breakpoints: (
  mobile: 600px,
);
@mixin mobile-only {
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}

.footer {
  display: block;
  @include mobile-only {
    display: none;
  }
}


.footer2 {
  display: flex;
  align-items: center;
}

.footer3 {
  list-style: none;
  margin: 10px;
  font-size: 30px;
}

.footer4 {
  list-style: none;
  display: flex;
  margin-left: 450px;
}
