$breakpoints: (
  mobile: 600px,
);

@mixin mobile-only {
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}
.timer {
  display: flex;
  text-align: center;
  font-family: "Inria Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 10px;
  letter-spacing: 3px;
  padding-left: 3%;
  @include mobile-only {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2px;
    padding-left: 0%;
  }
}
