.timer {
  display: flex;
  text-align: center;
  font-family: "Inria Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 10px;
  letter-spacing: 7px;
  padding-left: 3%;
}
