@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,700;1,300&family=Saira+Condensed:wght@100;200;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,700;1,300&display=swap");

$font-content: "Inria Sans", sans-serif;
$color-Bck-div: #141d3c;
$color-Bck-btn: #4d51aa;
$color-background: #1e1e1e;
$color-shadows-dark: #101010;
$color-light: #d7d7d7;
$color-dark: #221e40;
$rad: 0.7rem;
$dur: 0.3s;
$color-dark: #2f2f2f;
$color-light: #fff;
$color-brand: #57bd84;
$font-fam: "Lato", sans-serif;
$height: 5rem;
$btn-width: 50px;
$bez: cubic-bezier(0, 0, 0.43, 1.49);

$breakpoints: (
  mobile: 600px,
);

@mixin mobile-only {
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}

.FlysNews {
  display: flex;
  align-items: flex-start;
  padding-bottom: 0%;
  @include mobile-only {
    padding-bottom: 10%;
  }
}
.FlysHome {
  width: 70%;

  @include mobile-only {
    width: 100%;
  }
}
.ArticlesHome {
  width: 30%;
  @include mobile-only {
    display: none;
  }
}
.search-box {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  margin: 1% 0% -2% 1%;
  width: 12rem;
  background-color: $color-Bck-btn;
  border-radius: 0.7rem;
  margin-left: 30px;
  @include mobile-only {
    margin: 6% auto 0% auto;
  }
}
.search-label {
  color: $color-Bck-div;
  font-size: 26px;
  padding: 2px;
}
.search-input {
  outline: 0; // <-- shold probably remove this for better accessibility, adding for demo aesthetics for now.
  width: 100%;
  background: $color-light;
  padding: 0 1.6rem;
  border-radius: $rad;
  appearance: none; //for iOS input[type="search"] roundedness issue. border-radius alone doesn't work
  transition: all $dur $bez;
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

.search-input:not(:placeholder-shown) {
  color: $color-Bck-btn;
  width: calc(100% + $btn-width);
}
