@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,700;1,300&family=Saira+Condensed:wght@100;200;500&display=swap");
/* ----  $tyle ---- */
$font-title: "Saira Condensed", sans-serif;
$font-content: "Inria Sans", sans-serif;
$color-Bck-div: #141d3c;
$color-Bck-btn: #4d51aa;
$color-background: #1e1e1e;
$color-shadows-dark: #101010;
$color-light: #d7d7d7;
$color-dark: #221e40;

$breakpoints: (
  mobile: 600px,
);

@mixin mobile-only {
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}

.logo-picture-top {
  width: 60px;
  height: 60px;
  margin: 3%;
}
.top-mobile {
  display: none;
  background-image: url("./images/fondtop.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: 209%;
  background-position-y: -43px;
  background-position-x: -163px;
  justify-content: center;
  @include mobile-only {
    display: flex;
  }
}
