$breakpoint-mobilemax: 600px;

@media (min-width: $breakpoint-mobilemax) {
  header {
    border: solid;
    width: 100%;
    height: 344px;
  }
  .contenair {
    border: solid;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    width: 100%;
  }
  .contenair-card {
    border: solid;
    display: flex;
    flex-direction: column;
    width: 58%;
    align-items: center;
  }
  .card {
    border: solid;
    width: 72%;
    margin: 49px;
    height: 300px;
  }
  .contenair-article {
    border: solid;
    width: 27%;
    text-align: -webkit-center;
  }
  .article {
    border: solid;
    width: 73%;
    margin: 42px 30px 85px 30px;
    height: 135px;
  }
  footer {
    border: solid;
    height: 100px;
  }
}

header {
  width: 100%;
  position: fixed;
  bottom: 0px;
  border: solid;
  height: 54px;
}
footer {
  display: none;
}
.contenair {
  border: solid black;
}
.contenair-card {
  border: solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 607px;
}
.contenair-article {
  border: solid black;
  display: none;
  border: solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 608px;
    justify-content: space-around;
    
}
.card {
  border: solid blue;
  width: 84%;
  height: 209px;
  margin: 53px 5px 30px 5px;
}
.article {
  border: solid blue;
  
    height: 150px;
    width: 80%;
    
}
